.box_title {
  padding: 0 25px;
  margin: 0 auto 50px auto;
}

@media screen and (min-width: 1200px) {
  .box_title {
    display: none;
  }
}

.icon {
  margin: 0 0 38px 0;
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .icon {
    width: 20px;
    height: 20px;
  }
}

.title,
.title_desktop {
  font-family: var(--font-family-grotesk-bold);
  font-size: 50px;
  line-height: 44px;
  text-align: justify;
  letter-spacing: -0.02em;
  color: var(--accent-text-color);
}

.title_desktop {
  font-size: 228px;
  line-height: 187px;
  letter-spacing: -0.02em;
  transform: translateY(25%);

  margin: 0 0 0 40px;
}

.title_desktop::before {
  content: "";
  background-image: url(../../assets/icons/plus.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -25%;
}

.title_desktop::after {
  content: "VICE @ ART BASEL, MIAMI BEACH";
  color: var(--accent-text-color);
  font-family: var(--font-family-ffcall-thin);
  width: 180px;
  font-size: 14px;
  line-height: 22px;
  position: absolute;
  top: -25%;
  right: 0%;
  letter-spacing: -0.01em;
}

.list_box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.box {
  width: 50%;
  float: left;
  padding-top: 50%;
  display: block;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .box {
    width: 20%;
    padding-top: 20%;
  }
}

.box:nth-child(2) {
  background-color: var(--light-fri-background-color);
}

.box:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .box:nth-child(1) {
    display: none;
  }
}

.text {
  font-family: var(--font-family-ffcall-thin);
  color: var(--accent-text-color);
  text-align: left;
}

.supptitle {
  position: absolute;
  bottom: 50%;
  transform: translate(0, 55%);
}

.text:nth-child(1) {
  margin: 0 0 25px 0;
}

.text:nth-child(2) {
  margin: 0 0 10px 0;
}

.container {
  background-color: var(--light-fri-background-color);

  padding: 0 25px 100px 25px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 50px 150px 50px;
  }
}

.flex_day {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .flex_day {
    justify-content: unset;
  }

  .flex_day li > button {
    padding: 129px 300px 129px 0;
  }
}

.day {
  font-family: var(--font-family-ffcall-thin);
  text-align: center;
  color: var(--accent-text-color);
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 50%;
  outline: none;
  cursor: pointer;

  padding: 70px 0;
}

@media screen and (min-width: 1200px) {
  .day {
    font-size: 14px;
    line-height: 22px;

    align-items: unset;
    text-align: left;
  }
}

.day > strong {
  font-family: var(--font-family-grotesk-bold);
  font-size: 15px;
  line-height: 18px;

  margin: 0 0 16px 0;
}

@media screen and (min-width: 1200px) {
  .day > strong {
    font-size: 20px;
    line-height: 24px;
  }
}

.day:focus {
  opacity: 100%;
}

.day:focus::after {
  content: "";
  display: block;
  background: url(../../assets/icons/plus.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .day:focus::after {
    content: "";
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container_desktop {
    margin: 0 0 0 270px;
  }
}

.time {
  font-family: var(--font-family-grotesk-bold);
  font-size: 14px;
  line-height: 22px;
  color: var(--accent-text-color);

  display: flex;
  flex-direction: column;

  margin: 0 0 15px 0;
}

@media screen and (min-width: 1200px) {
  .time {
    font-family: var(--font-family-ffcall-thin);
    font-size: 15px;
    line-height: 22px;
  }
}

.time span:nth-child(2) {
  font-family: var(--font-family-ffcall-thin);
  font-size: 11px;
}

.name {
  font-family: var(--font-family-grotesk-bold);
  font-size: 16px;
  line-height: 22px;
  color: var(--accent-text-color);

  margin: 0 0 15px 0;
}

@media screen and (min-width: 1200px) {
  .name {
    font-size: 20px;
    line-height: 23px;
  }
}

.description {
  font-family: var(--font-family-grotesk-bold);
  font-size: 16px;
  line-height: 22px;
  color: var(--accent-text-color);
  display: flex;
  flex-direction: column;

  margin: 0 0 15px 0;
}

@media screen and (min-width: 1200px) {
  .description {
    font-size: 16px;
    line-height: 25px;

    margin: 0 0 45px 0;
  }
}

.description_event {
  font-family: "FFCall-800-negative-lot";
  font-size: 12px;
  line-height: 22px;
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .description_event {
    font-size: 14px;
    line-height: 22px;
  }
}

.sentence:not(:last-child) {
  margin: 0 0 55px 0;
}

@media screen and (min-width: 1200px) {
  .sentence:not(:last-child) {
    margin: 0 0 120px 0;
  }

  .sentence::before {
    content: "";
    display: block;
    border-top: solid 2px var(--accent-background-color);

    margin: 0 0 5px 0;
  }
}

.list_text {
  font-family: "FFCall-800-negative-lot";
  line-height: 17px;
  color: var(--main-text-color);
}

.title_sentence {
  font-family: var(--font-family-grotesk-bold);
  font-size: 21px;
  line-height: 32px;
  color: var(--accent-text-color);

  margin: 0 0 45px 0;
}

.box_sentence {
  width: 320px;
  display: block;
}

@media screen and (min-width: 1200px) {
  .box_sentence:not(:last-child) {
    margin: 0 70px 0 0;
    display: block;
  }
}

.flex_sentence {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .box_position {
    position: absolute;
    left: 80%;
    transform: translateY(-99%);
    background: var(--accent-background-color) !important;
  }
}
