.list_box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.box {
  width: 50%;
  float: left;
  padding-top: 50%;
  display: block;
  background-repeat: no-repeat;
  position: relative;
}

.supptitle {
  position: absolute;
  bottom: 50%;
  transform: translate(0, 55%);
}

.box:nth-child(2) {
  background-color: var(--main-background-color);
}

.box:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list_text {
  font-family: "FFCall-800-negative-lot";
  line-height: 17px;
  color: var(--main-text-color);
}
