img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list_box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.box {
  width: 50%;
  float: left;
  padding-top: 50%;
  display: block;
  background-repeat: no-repeat;
  position: relative;
}

.box:nth-child(7),
.box:nth-child(10) {
  background: var(--main-background-color);
}

.box:nth-child(9) {
  align-items: center;
  justify-content: center;
  display: flex;
}

.box:nth-child(9)::after {
  content: "VICE  @ ART BASEL, MIAMI BEACH";
  color: var(--main-text-color);
  font-family: "FFCall-800-negative-lot";
  width: 128px;
  line-height: 17px;
  position: absolute;
  bottom: 50%;
  transform: translate(0, 55%);
}

.box:nth-child(1) {
  background-image: url(../../images/firstImage/fImage-1.jpg);
  background-size: 100%;
}

.box:nth-child(2) {
  background-image: url(../../images/firstImage/fImage-2.jpg);
  background-size: 100%;
}

.box:nth-child(3) {
  background-image: url(../../images/firstImage/fImage-3.jpg);
  background-size: 100%;
}

.box:nth-child(4) {
  background-image: url(../../images/firstImage/fImage-4.jpg);
  background-size: 100%;
}

.box:nth-child(5) {
  background-image: url(../../images/secondImage/sImage.jpg);
  background-size: 100%;
}

.box:nth-child(8) {
  background-image: url(../../images/thirdImage/tImage.jpg);
  background-size: 100%;
}

/* .box:nth-child(1) {
  background: url("../../images/firstImage/fImage-1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.box:nth-child(2) {
  background: url("../../images/firstImage/fImage-2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.box:nth-child(3) {
  background: url("../../images/firstImage/fImage-3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.box:nth-child(4) {
  background: url("../../images/firstImage/fImage-4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

.img {
  width: auto;
  height: inherit;
}
