img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text {
  font-family: var(--font-family-ffcall-thin);
  font-size: 10px;
  line-height: 27px;
  text-align: center;
  color: var(--accent-text-color);
}

.link {
  display: block;
  margin: 0 0 60px 0;
}

.loader {
  display: flex;
  justify-content: center;

  margin: 0 0 25px 0;
}

.loader img {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
